.Portfolio-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.portfolio-menu{
    
}
.portfolio-menu>button{
    
    font-size: 16px;
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 25px;
    background: var(--menu);

}
.portfolio-menu>button .active-menu{
    border: 3px solid var(--red);
    
}
.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(340px, 1fr));
    gap: 15px;
}
.portfolio{
    background: var(--bg);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    
}
.portfolio>img{
    max-width: 100%;
    max-height: 90%;
}
.portfolio>img:hover{
    opacity: 0.7;
    
}
.portfolio>div{
   margin: 0 auto;
   padding: 5px;
}
@media(max-width:500px){
    .portfolio-list{
        
        grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
       
    }
}